.container:before,
.container:after,
.container-fluid:before,
.container-fluid:after,
.row:before,
.row:after,
.pager:before,
.pager:after {
  content: " ";
  display: table;
}
.container:after,
.container-fluid:after,
.row:after,
.pager:after {
  clear: both;
}
html,
body {
  height: 100%;
  width: 100%;
}
body {
  font-size: 18px;
  background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB3aWR0aD0iNiIgaGVpZ2h0PSI2Ij4KPHJlY3Qgd2lkdGg9IjYiIGhlaWdodD0iNiIgZmlsbD0iI2VlZWVlZSI+PC9yZWN0Pgo8ZyBpZD0iYyI+CjxyZWN0IHdpZHRoPSIzIiBoZWlnaHQ9IjMiIGZpbGw9IiNlNmU2ZTYiPjwvcmVjdD4KPHJlY3QgeT0iMSIgd2lkdGg9IjMiIGhlaWdodD0iMiIgZmlsbD0iI2Q4ZDhkOCI+PC9yZWN0Pgo8L2c+Cjx1c2UgeGxpbms6aHJlZj0iI2MiIHg9IjMiIHk9IjMiPjwvdXNlPgo8L3N2Zz4');
  font-family: 'Roboto', sans-serif;
  text-align: center;
  position: relative;
  bottom: 0;
}
#stage {
  background: #ffffff;
  width: 100%;
  max-width: 1200px;
  min-height: 650px;
  margin: 0 auto;
  position: relative;
  padding: 30px 15px 50px;
  margin-bottom: 25px;
}
.breadcrumb {
  text-align: left;
}
#pageHeader {
  margin-bottom: 20px;
}
